<div id="tagging">
	<ul>
		<li>Conservative</li>
		<li>Neutral</li>
		<li>Progressive</li>
		<li>Flag for review</li>
	</ul>
</div>
<iframe src="<%= @url %>" height="600" width="800">
	Could not load the page. Try reloading? If the problem persists, mark this for review.
</iframe>
