<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Tagging!</title>
		<script src="/right.js" type="text/javascript"></script>
		<style type="text/css">
			* {margin: 0; padding: 0; }
			.hidden {display: none; }
			#tags {float: left; width: 70%; text-align: center; font-size: 130%; }
			#tags label {display: block; padding: 20px; float: left; }
			#tags input {margin-right: 10px; }
			#sign-in {float: right; width: 20%; padding: 20px;}
		</style>
	</head>
	<body>
        	<%= yield %>
	</body>
</html>
